.section__topic {
  text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    font-size: 18.72px;
    font-weight: 700;
    margin-left: 25px;
}

.second__section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.second__section-box {
  margin: 0 20px;
}

.second__section-box img {
  width: 100%;
}

.second__section-info {
   display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: 700;
}

.second__section-info p {
  font-weight: 700;
}

.second__section-content {
  margin-top: 50px;
}

.second__section-content-title{
  font-size: 29px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 30px;
}

.second__section-content-text{
  font-weight: 300;
    line-height: 25px;
    font-size: 21px;
}

.card__section-container {
    display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.card__container {
  width: 400px;
  margin: 0 10px;
}

.card__img img{
  width: 100%;
  height: auto;
}

.card__content h3{
  font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 50px;
}

.card__btn {
   display: flex;
    background-color: #000;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 250px;
    height: 40px;
    margin: 0 auto;
    margin-top: 50px;
}

.footer__section {
  width: 100%;
  height: 150px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.footer__title {
  font-size: 45px;
  text-transform: uppercase;
}

.footer__text {
  font-size: 14px;
  margin-top: 20px;
}


@media (max-width:900px) {
  .card__date, .card__subtitle {
     font-size: 12px;
    letter-spacing: 2px;
  }
}

@media (max-width:650px) {
   .second__section-container {
    flex-wrap: wrap;
  }
   .second__section-box {
    margin: 20px 0;
    padding: 0 10px;
  }
   .second__section-content-title {
    margin-bottom: 20px;
  }
}

@media (max-width:400px) {
   .second__section-content-title {
    font-size: 20px;
     line-height: 25px;
     font-weight: bold;
  }
  .second__section-content {
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
  .card__section-container {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .card__container {
    /* display: flex;
    flex-direction: column;
    flex-grow: 1; */
    margin: 20px auto;
  }
  .card__content h3 {
    margin-top: 20px;
  }
}